.pioenvs
.piolibdeps
.clang_complete
.gcc-flags.json
.vscode.json
.pio/*
.pio/build/project.checksum
.pio/build/project.checksum
.pio/build/controllino_maxi_automation/idedata.json
.pio/libdeps/controllino_maxi_automation/commandParser
.pio/libdeps/controllino_maxi_automation/ethernet
.pio/libdeps/megaatmega2560/commandParser
.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode/c_cpp_properties.json

